mixin link(link)
  li.clearfix.link
    a.clearfix(href=link.url, title=link.title)
      .minwidth.clearfix
        .icon
          if (link.icon)
            img(src="#{link.icon}")
          else if(link.mime)
            img(src="/_/images/mimetypes/" + link.mime.replace('/','-') + '.png')
          else
            .no-icon
              i.icon-link
        .text
          .text-container
            if (link.title)
              .title.ellipsis #{link.title}
            else
              .title.ellipsis #{link.url}
            .url.ellipsis #{link.url}
    a(href="/_/bin/#{bin.id}/link/#{link.id}/remove").close &times;

mixin bin(bin)
  li.clearfix.bin-link
    a.clearfix(href=bin.path.substr(bin.path.indexOf(':')+1),title=bin.title)
      .minwidth.clearfix
        .icon
          .no-icon
            i.icon-link
        .text
          .text-container
            .link #{bin.title}
    a(href="/_/bin/#{bin.id}/remove").close &times;

.row
  .span6
    h3.icon-globe  Links
    .well
      ul.items.clearfix
        each link in bin.links
          mixin link(link)
  .span6
    h3.icon-folder-open  Bins
    .well
      ul.items
        each bin in children
          mixin bin(bin)