mixin link(link)
  li.clearfix
    a.clearfix(href=link.url, title=link.title)
      .minwidth.clearfix
        .icon
          if (link.icon)
            img(src="#{link.icon}")
          else
            .no-icon
              i.icon-link
        .text
          if (link.title)
            .link #{link.title}
          else
            .link #{link.url}
          .url #{link.url}

mixin bin(bin)
  li.clearfix
    a.clearfix(href=bin.path,title=bin.title)
      .minwidth.clearfix
        .icon
          .no-icon
            i.icon-link
        .text
          .link #{bin.title}

extends layout

block breadcrumb
  - var bins = bin.path.split('/').slice(1)
  - var path = ''
  each bin, i in bins
    - path = path + '/' + bin
    li.divider-bin
      span.icon-caret-right
    li(class=(i===bins.length-1)?"active":"")
      a(href="#{path}").bin-link #{bin} 

block body
  if(isOwner)
    .row
      .span12
        [You own this Bin]
  .row
    .span6
      h1 Links:
      .well
        ul.bin.clearfix
          each link in bin.links
            mixin link(link)
    .span6
      h1 Bins:
      .well
        ul.bin
          each bin in childBins
            mixin bin(bin)
