mixin link(link)
  li.clearfix.link
    a(href="/_/bin/#{bin.id}/link/#{link.id}/remove").close &times;
    a.clearfix(href=link.url, title=link.title)
      .minwidth.clearfix
        .icon
          if (link.icon)
            img(src="#{link.icon}")
          else
            .no-icon
              i.icon-link
        .text
          if (link.title)
            .url-title #{link.title}
          else
            .url-title #{link.url}
          .url #{link.url}

mixin bin(bin)
  li.clearfix.bin-link
    a(href="/_/bin/#{bin.id}/remove").close &times;
    a.clearfix(href=bin.path,title=bin.title)
      .minwidth.clearfix
        .icon
          .no-icon
            i.icon-link
        .text
          .link #{bin.title}

extends layout

block breadcrumb
  - var bins = bin.path.split('/').slice(1)
  - var path = ''
  each bin, i in bins
    - path = path + '/' + bin
    li.divider-bin
      span.icon-caret-right
    li(class=(i===bins.length-1)?"active":"")
      a(href="#{path}").bin-link #{bin} 

block body
  if (flash.error)
    .alert.alert-error
      i.icon-exclamation-sign  
      != flash.error
  if (flash.success)
    .alert.alert-success
      i.icon-exclamation-sign 
      != flash.success
  if(isOwner)
    .alert.alert-warn
      i.icon-exlamantion-sign You will own this bin as long as you access it from your current computer
  .row
    .span6
      h1 Links:
      .well
        ul.bin.clearfix
          each link in bin.links
            mixin link(link)
    .span6
      h1 Bins:
      .well
        ul.bin
          each bin in children
            mixin bin(bin)
