mixin link(link)
  li.clearfix
    a.clearfix(href=link.url, title=link.title)
      .minwidth.clearfix
        .icon
          if (link.icon)
            img(src="#{link.icon}")
          else
            .no-icon
              i.icon-link
        .text
          .link #{link.title}
          .url #{link.url}

extends layout

block breadcrumb
  li.divider-bin
    span.icon-caret-right
  li.active
    a(href="/#{bin.title}").bin-link #{bin.title}

block body
  .row
    .span6
      h1 Links:
      .well
        ul.bin.clearfix
          each link in bin.links
            mixin link(link)
    .span6
      h1 Bins:
      .well
        ul.bin
          li No Bins :(
