authosizedUser = user && user.loggedIn && typeof(profile) !== 'undefined' && profile.username === user.username || typeof(isOwner) !== 'undefined' && isOwner

mixin link(link)
  li.clearfix.link(data-linkid="#{link._id}")
    .well
      if authosizedUser
        .controls
          a(href="/_/bin/#{bin.id}/link/#{link.id}/remove").close
            i.icon-trash
          .edit.close
            i.icon-edit
      a.clearfix(href=link.url, title=link.title,target="_blank",rel="nofollow")
        .minwidth.clearfix
          .icon
            if (link.icon)
              img(src="#{link.icon}")
            else if(link.mime)
              img(src="/_/images/mimetypes/" + link.mime.replace('/','-') + '.png')
            else
              .icon(style="font-size: 64px; line-height:64px")
                i.icon-warning-sign(style="width:64px;height:64px") 
          .text
            .text-container
              if (link.title)
                .title.ellipsis #{link.title}
              else
                .title.ellipsis #{link.url}
              if(link.desc)
                .url.ellipsis #{link.desc}
              else
                .url.ellipsis #{link.url}
    

mixin bin(bin)
  li.clearfix.bin
    if authosizedUser
      a(href="/_/bin/#{bin.id}/remove").close.pull-right &times;
    a.binlink.clearfix(href="#{path}/#{bin.name}", title="#{bin.title}")
      .inner 
        i.icon-folder-close   
        |   #{bin.name}
   

//- .row
//-   .span6
//-     h4.icon-globe  Links
//-     ul.items.clearfix
//-       each link in bin.links
//-         mixin link(link)
//-   .span6
//-     h4.icon-folder-open  Bins
//-     ul.items
//-       each bin in children
//-         mixin bin(bin)


.bin.main.container
  script(type="text/javascript")
    var bin_id = '!{bin.id}'
  if publicBin
    //- .alert(style="margin-bottom:20px;border-radius: 4px 4px 4px 4px")
    //-   i.icon-exclamation-sign 
    //-   | Your bin has now become private! only you can access it.
    div.moon
  else
    div.sun
  .row
    if authosizedUser || children.length > 0
      .span3.bins
        .well
          if children.length > 0
            h4 Bins
            ul.items
              each bin in children
                mixin bin(bin)
          else
            if authosizedUser
              h4 bins
              ul.items
                li.nobins
                  a#add-bin(href='#add').add-something add a bin
                  //- i.icon-arrow-right
            //- else
            //-   if bin.links.length === 0
            //-     ul.items
            //-       li.nobins
            //-         | this bin is empty
            //-   else
            //-     ul.items
            //-       li.nobins 
            //-         | (no sub bins)
          //- li
          //-   form(action="#{bin.path}")#new-bin-form
          //-     .input-append
          //-       input.span2(type="text", placeholder="add bin")#new-bin-title
          //-       button.btn(href="#")
          //-         i.icon-plus-sign
    div(class="#{authosizedUser || children.length > 0 ? 'span9' : 'span12'}")
      if authosizedUser
        .clearfix(style="margin-bottom: 15px")        
          .add-link-controls.pull-left
            form.new-item-form.form-inline#new-item-form(action="#{bin.path}", style="margin-bottom: 0")
              .item-title-container.input-append
                input.span3.new-item-title#new-item-title(type="text", placeholder="add link or bin")
                button.btn put it here
          if isOwner && typeof(profile) !== 'undefined'
            .privacy-controls.pull-right
              .btn-group
                a.btn.public(href="/_/bin/#{bin.id}/public", class="#{bin.public ? 'active' : ''}"
                  , data-placement="top")
                  i.icon-eye-open
                  span.handset-hide  public
                a.btn.private(href="/_/bin/#{bin.id}/private", class="#{bin.public ? '' : 'active'}"
                  , rel="tooltip", data-placement="top", data-original-title="prevent others from seeing this bin")
                  i.icon-eye-close
                  span.handset-hide  private
          else 
            .privacy-controls.pull-right
              .btn.disabled.active
                i.icon-eye-open
                span.handset-hide  public bin
      .links
        ul.items.clearfix.row-fluid
          if bin.links.length === 0
            li.emptybin
              if authosizedUser
                | Nothing here yet. 
                a#add-something(href="#add").add-something add something!
              else
                | Here be dragons and dust bunnies. 
               
          else  
            each link in bin.links
              mixin link(link)
      #linkModal.modal.hide(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") x
          h3#myModalLabel edit link
        .modal-body
          img.pull-left.thumbnail
          form.pull-left(style="margin:10px")
            label title
            input.input-xlarge.title(type="text")
        .modal-footer
          button.btn(data-dismiss="modal", aria-hidden="true") cancel
          button.btn.btn-success(data-dismiss="modal") update