extends layout

block body
  div#fb-root
  script 
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=174190695993894";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  #landing-promo
    .container.alerts
      include alerts
    .anchor-wrap
      .container
        .row
          .span8
            #landing-form
              .clearfix
                .pull-left
                  h2 
                    span.subtitle step 1:  
                    | paste a link   
                    i.icon-circle-arrow-down.arrow   
              form#linkform(action="/_/link/add", method="post")
                .input-append
                  div.button-wrapper.pull-right.handset-hide
                    button.btn-orangered.input-block-level.btn.btn-large(type="submit")
                      strong 
                        span.handset-hide put in a bin 
                  div.input-wrapper
                    input#linkinput(type="text", name="uri", placeholder="ie., reddit.com")
                  .clearfix.handset-show(style="margin-top: 15px")
                    button.btn-orangered.input-block-level.btn.btn-large(type="submit") 
                      strong 
                        i.icon-circle-arrow-right
                        |  place in a clickbin
              .clearfix.handset-hide
                .pull-right
                
                  h2.orangered 
                    span.subtitle step 2:  
                    | put it in a clickbin  
                    i.icon-circle-arrow-up.arrow  
          //- .span1
          //-   .or or 

          //- .span5 
          //-   a.btn.btn-large.btn-navy(href="#").input-block-level#bookmarklet-button 
          //-     strong drag me to your bookmarks bar
          //-   .clearfix
          //-     p#bookmarklet-help 
          //-       | Bookmark as you browse.  
          //-       a(href="/help#bookmarklet") Show me how.
  
          
                    
         //- .span4
         //-    span.subtitle Step 3:
         //-    h2 Get Organized!

  #info
    .container 
      //- span.subtitle &nbsp;
      .row
        .span4
          h2 what does clickb.in do?
          p With clickbin you no longer have to email yourself links. Use bins to easily collect and organize the things you find online. Think of it like a desktop for the web.
          .well
            .bins
              .btn-group(style="overflow:hidden")
                a.btn.brand(href="http://vicapow.clickb.in") vicapow.clickb.in
                a.btn(href="http://vicapow.clickb.in/entertainment") entertainment
                a.btn(href="http://vicapow.clickb.in/entertainment/funny") funny
                a.btn(href="http://vicapow.clickb.in/entertainment/funny/videos") videos
        .span4
          h2 some examples:
          .well
            .example-bins
              a.btn(href="http://clickb.in/33") furniture
              a.btn(href="http://clickb.in/34") interiors
              a.btn(href="http://clickb.in/35") trailers
              a.btn(href="http://clickb.in/2u") hipsters
              a.btn(href="http://clickb.in/2m") cats
              a.btn(href="http://clickb.in/2q") steve
              a.btn(href="http://clickb.in/2v") cafes
              a.btn(href="http://nodejs.clickb.in/core-community") nerds
              a.btn(href="http://vicapow.clickb.in/jobs") jobs
              a.btn(href="http://nodejs.clickb.in") node.js

            //- @lxe I agree, but I also think it's important that they see 
            //- what a bin looks like and why they would want to create one 
            //- before they start learning the url shortcut technique. I think
            //- a button like "furniture" would do that then say, "clickb.in/33"


            //- We need to show users how our URLs operate. They are designed to be friendly. Also buttons signify "action"
            //- Links signify navigation and are suited better here.
            //- ul.example-bins
            //-   //- li
            //-   //-   a(href="http://clickb.in/2u") clickb.in/<strong>hipsters</strong>
            //-   //- li
            //-   //-   a(href="http://clickb.in/2m") cats
            //-   //- li
            //-   //-   a(href="http://clickb.in/2q") steve
            //-   //- li
            //-   //-   a(href="http://clickb.in/2v") cafes
            //- 
            //-   li
            //-     a(href="http://vicapow.clickb.in/jobs")
            //-       | vicapow.clickb.in/
            //-       strong jobs
            //-   li
            //-     a(href="http://nodejs.clickb.in")
            //-       strong nodejs
            //-       | .clickb.in
            //-   li
            //-     a(href="http://nodejs.clickb.in/core-community") 
            //-       strong nodejs
            //-       | .clickb.in/
            //-       strong core-community
        //- .span4
        //-   p easily bookmark pages you enjoy by placing <strong>clickb.in/</strong> in front of the address:
        //-   .well
        //-     #address-bar
        .span4
          h2 stay tuned for more features!
          .newsletter-wrapper
            .inner
              iframe.hidden(src="about:blank", id="newsletter-target", name="newsletter-target")
              p(style="min-height: auto;") 
                | sign up for updates:
              form.form-inline#newsletter(action='https://docs.google.com/spreadsheet/formResponse?formkey=dHpHWkpHNWEwYjhRUmVlX2Z3bFZsc2c6MQ&ifq', 
                method='POST', target="newsletter-target", style="margin-bottom: 20px;")
                input(type="hidden", value="Submit", name="submit")
                input(type="hidden", value="0", name="pageNumber")
                input(type="hidden", value="", name="backupCache")
                .clearfix
                  .button-wrapper
                    button.btn.btn-navy(type="submit") 
                      strong sign up
                  .block-input-wrapper
                    input.input-block-level#newsletter-email(
                      type="text", 
                      name="entry.0.single", 
                      placeholder="email")

              .clearfix
                .pull-left

                  a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://clickb.in", data-text="Clickbin - the easy way to organize a bunch of links. No sign-up required.", data-via="clickbin") Tweet
                  script
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

                .pull-left
                  div.fb-like(data-href="http://clickb.in", data-send="true", 
                    data-layout="button_count", data-width="300", data-show-faces="false")
                

  #newsletter-thanks.modal.hide
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
      h3 thanks!
    .modal-body
      p thanks for signing up! we'll keep you informed about new features of clickb.in
    .modal-footer
      a.btn(href="#", data-dismiss="modal") Close


   

    //- .span6
    //-   h3 example bins
    //-   .well
    //-     a(href="http://clickb.in/5")
    //-       h4 cute animal photos
    //-     a(href="http://vicapow.clickb.in") 
    //-       h4 vicapow.clickb.in
    //-     a(href="http://lxe.clickb.in") 
    //-       h4 lxe.clickb.in