publicBin = (typeof bin !=='undefined' && !bin.public)
!!! 5
html(lang='en') 
  head
    meta(charset='utf-8')
    title= locals.title
    meta(name='viewport', 
      content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
    meta(name='description', content='Use bins to easily collect and organize the things you find online.')
    meta(name='author', content='clickbin')
    link(rel='stylesheet', href='/_/stylesheets/main.css')
    link(rel='apple-touch-icon-precomposed', href='/_/apple-touch-icon-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/_/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/_/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/_/apple-touch-icon-144x144-precomposed.png')

    // "In an extreme view, the world can be seen as only connections, nothing else. We think of a dictionary as the repository of meaning, but it defines words only in terms of other words. I liked the idea that a piece of information is really defined only by what it's related to, and how it's related. There really is little else to meaning. The structure is everything. There are billions of neurons in our brains, but what are neurons? Just cells. The brain has no knowledge until connections are made between neurons. All that we know, all that we are, comes from the way our neurons are connected." - Tim Berners-Lee, inventor of the world wide web
  body(id="#{locals.bodyId ? locals.bodyId : 'main'}",class=publicBin?'private':'')
    .wrapper
      #body
        //- a.git-ribbon(href="https://github.com/lxe/clickbin")
        //-  img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
        .navbar.navbar-static-top#master-nav
          .navbar-inner
            .alpha.pull-left alpha
            .container
              ul.nav
                li
                  .btn-group.bins.breadcrumbs
                    if typeof(profile) !== 'undefined' && profile.username
                      a(href='/').brand 
                        strong #{profile.username}
                        | .clickb.in
                    else
                      a(href="http://#{domain}").brand clickb.in
                    block breadcrumb
               

                //- li
                //-   form.navbar-form.form-inline.pull-left#newbin-form
                //-     .input-prepend(style="margin-top: 12px")
                //-       span.add-on /
                //-       input.input-small(type="text", placeholder="new bin")

              ul.nav.pull-right
                if user && user.loggedIn && typeof(profile) !=='undefined' && profile.username !== user.username
                  li
                    a(href="#{getUserURI(user.username))}")
                      i.icon-home
                      |  Home

                if !user || !user.loggedIn
                  li 
                    a(href=getRootURI() + "_/login") 
                      i.icon-signin 
                      |  sign in
                  li 
                    .btn-group
                      a.btn.btn-orangered(href="#{getRootURI() + '_/signup'}",
                        rel="tooltip", data-placement="bottom", data-original-title="Join to get your own 'you.clickb.in'!") 
                        strong join
                else
                  li
                    a(href=getRootURI() + "_/logout") 
                      i.icon-signout 
                      |  sign out

        //- Body block
        //- .container#body 
        block body
  
      footer#footer
        .container by 
          a(href="http://twitter.com/vicapow",target="_blank") @vicapow 
          | and 
          a(href="http://twitter.com/lxe",target="_blank") @lxe 
          | using 
          a(href="http://nodejs.org",target="_blank",title="JIFSNIF") node.js

  script(src='/_/javascripts/lib/jquery.min.js')
  script(src="/_/javascripts/lib/ellipsis.js")
  script(src="/_/javascripts/lib/bootstrap.min.js")
  script(src="/_/javascripts/client.js")
  script
    var domain = 'clickb.in'
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35185467-1']);
    _gaq.push(['_setDomainName', domain]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  block scripts

