extends layout

block body
  .container.alerts
    include alerts
  .container.main
    .row
      .span4.offset4
        h1 sign up
        .well
          form(method="POST")
            // Username
            .control-group
              label.control-label(for="inputUsername") User name:
              .controls
                input.input-block-level(type="text",name="inputUsername",
                  id="inputUsername",
                  placeholder="",value=inputUsername)
                if(errors.inputUsername)
                  p.text-error #{errors.inputUsername.msg}
            // Password
            .control-group
              label.control-label(for="inputPassword") Password:
              .controls
                input.input-block-level(type="password",name="inputPassword",
                  id="inputPassword",
                  placeholder="")
                if(errors.inputPassword)
                  p.text-error #{errors.inputPassword.msg}
            // Password again
            .control-group
              label.control-label(for="inputPasswordAgain") Password again:
              .controls
                input.input-block-level(type="password",name="inputPasswordAgain",id="inputPasswordAgain",placeholder="Password")
                if(errors.inputPasswordAgain)
                  p.text-error #{errors.inputPasswordAgain.msg}
            // Email
            .control-group
              label.control-label(for="inputEmail") Email (optional)
              .controls
                input.input-block-level(type="text",name="inputEmail",id="inputEmail",placeholder="",value=inputEmail)
                if(errors.inputEmail)
                  p.text-error #{errors.inputEmail.msg}
                else
                  p.muted In case you forget your password
            .control-group
              .controls
                button.btn.btn-navy(type="submit",style="margin-right:10px") Sign up